In [57]:
import pandas as pd
import seaborn as sns
import warnings
import matplotlib.pyplot as plt
import missingno as msno
import numpy as np

Check data read the column names didnt save changed

In [58]:
train = pd.read_pickle("data/sendy3.pkl")
train.head()

,order_no,user_id,vehicle_type,platform_type,customer_type,placed_day,placed_wkday,placed_time,confirmed_day,confirmed_wkday,...,Age,Average_Rating,No_of_Ratings,pickup_hr,pickup_hr_type,delivered_hr,delivered_hr_type,pickup_wkday_type,speed_ms,speed_type
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,1900-01-01 09:35:46,9,5,...,1309,13.8,549,10,Active Hours,10,Active Hours,Weekday,5.369128,slow
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,1900-01-01 11:16:16,12,5,...,339,13.6,69,11,Active Hours,12,Active Hours,Weekday,8.028098,slow
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,1900-01-01 12:39:25,30,2,...,242,12.5,114,12,Active Hours,13,Active Hours,Weekday,6.593407,slow
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,1900-01-01 09:25:34,15,5,...,283,14.5,113,9,Active Hours,10,Active Hours,Weekday,6.711409,slow
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,1900-01-01 09:55:18,13,1,...,872,14.1,533,10,Active Hours,10,Active Hours,Weekday,7.413509,slow

In [59]:
train.columns

Index(['order_no', 'user_id', 'vehicle_type', 'platform_type', 'customer_type',
       'placed_day', 'placed_wkday', 'placed_time', 'confirmed_day',
       'confirmed_wkday', 'confirmed_time', 'arrive_pickup_day',
       'arrive_pickup_wkday', 'arrive_pickup_time', 'pickup_day',
       'pickup_wkday', 'pickup_time', 'delivered_day', 'delivered_wkday',
       'delivered_time', 'distance_covered_km', 'temp', 'pickup_lat',
       'pickup_long', 'delivered_lat', 'delivered_long', 'Rider Id',
       'time_pickup_to_delivered', 'No_Of_Orders', 'Age', 'Average_Rating',
       'No_of_Ratings', 'pickup_hr', 'pickup_hr_type', 'delivered_hr',
       'delivered_hr_type', 'pickup_wkday_type', 'speed_ms', 'speed_type'],
      dtype='object')

In [60]:
# Dropping date/time columns
drop_columns = ['placed_day', 'placed_wkday', 'placed_time', 'confirmed_day',
       'confirmed_wkday', 'confirmed_time', 'arrive_pickup_day',
       'arrive_pickup_wkday', 'arrive_pickup_time', 'pickup_day',
       'pickup_wkday', 'pickup_time', 'delivered_day', 'delivered_wkday',
       'delivered_time']

train.drop(columns=drop_columns, inplace=True)

In [61]:
train.head()

,order_no,user_id,vehicle_type,platform_type,customer_type,distance_covered_km,temp,pickup_lat,pickup_long,delivered_lat,...,Age,Average_Rating,No_of_Ratings,pickup_hr,pickup_hr_type,delivered_hr,delivered_hr_type,pickup_wkday_type,speed_ms,speed_type
0,Order_No_4211,User_Id_633,Bike,3,Business,4,20.400000,-1.317755,36.830370,-1.300406,...,1309,13.8,549,10,Active Hours,10,Active Hours,Weekday,5.369128,slow
1,Order_No_25375,User_Id_2285,Bike,3,Personal,16,26.400000,-1.351453,36.899315,-1.295004,...,339,13.6,69,11,Active Hours,12,Active Hours,Weekday,8.028098,slow
2,Order_No_1899,User_Id_265,Bike,3,Business,3,23.258889,-1.308284,36.843419,-1.300921,...,242,12.5,114,12,Active Hours,13,Active Hours,Weekday,6.593407,slow
3,Order_No_9336,User_Id_1402,Bike,3,Business,9,19.200000,-1.281301,36.832396,-1.257147,...,283,14.5,113,9,Active Hours,10,Active Hours,Weekday,6.711409,slow
4,Order_No_27883,User_Id_1737,Bike,1,Personal,9,15.400000,-1.266597,36.792118,-1.295041,...,872,14.1,533,10,Active Hours,10,Active Hours,Weekday,7.413509,slow

In [62]:
# Creating dummy variable for personal_or_business (1 if personal 0 if business)

train["personal"] = 0
train.loc[train.customer_type == "Personal", "personal"] = 1

In [63]:
# Creating dummy variables for platforms 1, 2, 3. 

def create_platform_dummies(df):
    for i in range(1, 4):
        plat_str = "platform" + str(i)
        df[plat_str] = 0
        df.loc[df.platform_type == i, plat_str] = 1
create_platform_dummies(train)

In [70]:
drop_col= ['order_no', 'user_id', 'platform_type', 'customer_type']
train.drop(columns=drop_col, inplace=True)

KeyError: "['order_no', 'user_id', 'platform_type', 'customer_type'] not found in axis"

In [71]:
train

,vehicle_type,distance_covered_km,temp,pickup_lat,pickup_long,delivered_lat,delivered_long,Rider Id,time_pickup_to_delivered,No_Of_Orders,...,pickup_hr_type,delivered_hr,delivered_hr_type,pickup_wkday_type,speed_ms,speed_type,personal,platform1,platform2,platform3
0,Bike,4,20.400000,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,1637,...,Active Hours,10,Active Hours,Weekday,5.369128,slow,0,0,0,1
1,Bike,16,26.400000,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993,396,...,Active Hours,12,Active Hours,Weekday,8.028098,slow,1,0,0,1
2,Bike,3,23.258889,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455,1023,...,Active Hours,13,Active Hours,Weekday,6.593407,slow,0,0,0,1
3,Bike,9,19.200000,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341,886,...,Active Hours,10,Active Hours,Weekday,6.711409,slow,0,0,0,1
4,Bike,9,15.400000,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214,2311,...,Active Hours,10,Active Hours,Weekday,7.413509,slow,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21195,Bike,17,29.000000,-1.238406,36.871870,-1.276549,36.766981,Rider_Id_34,2325,20,...,Active Hours,14,Active Hours,Weekend,7.311828,slow,0,0,0,1
21197,Bike,7,26.000000,-1.307143,36.825009,-1.331619,36.847976,Rider_Id_155,770,1023,...,Active Hours,10,Active Hours,Weekend,9.090909,slow,0,0,0,1
21198,Bike,20,29.200000,-1.286018,36.897534,-1.258414,36.804800,Rider_Id_697,2953,314,...,Active Hours,18,Inactive Hours,Weekday,6.772773,slow,0,0,0,1
21199,Bike,13,15.000000,-1.250030,36.874167,-1.279210,36.794872,Rider_Id_347,1380,2451,...,Active Hours,10,Active Hours,Weekday,9.420290,slow,1,1,0,0
21200,Bike,12,30.900000,-1.255189,36.782203,-1.320157,36.830887,Rider_Id_177,2128,526,...,Active Hours,15,Active Hours,Weekday,5.639098,slow,0,0,0,1

In [72]:
train.shape

(17764, 24)

In [73]:
train.dtypes

vehicle_type                 object
distance_covered_km           int64
temp                        float64
pickup_lat                  float64
pickup_long                 float64
delivered_lat               float64
delivered_long              float64
Rider Id                     object
time_pickup_to_delivered      int64
No_Of_Orders                  int64
Age                           int64
Average_Rating              float64
No_of_Ratings                 int64
pickup_hr                     int64
pickup_hr_type               object
delivered_hr                  int64
delivered_hr_type            object
pickup_wkday_type            object
speed_ms                    float64
speed_type                   object
personal                      int64
platform1                     int64
platform2                     int64
platform3                     int64
dtype: object

In [74]:
# Standardizing numerical variables
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numeric_train = train.select_dtypes(include=numerics)
standardized = pd.DataFrame(scaler.fit_transform(numeric_train))
standardized.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-1.061986,-0.873294,-1.184053,0.498114,-0.506740,0.409496,-0.950364,-0.012322,0.547968,-0.138554,0.501530,-1.115793,-1.283645,-0.385807,-0.478453,-0.342598,-0.223481,0.425855
1,1.162784,0.985110,-2.286404,2.322767,-0.352203,0.066148,0.383162,-0.829966,-0.988263,-0.355196,-0.668970,-0.723392,-0.505198,0.391922,2.090069,-0.342598,-0.223481,0.425855
2,-1.247384,0.012201,-0.874250,0.843465,-0.521466,0.374989,-1.260238,-0.416861,-1.141886,-1.546725,-0.559236,-0.330991,-0.115974,-0.027715,-0.478453,-0.342598,-0.223481,0.425855
3,-0.134999,-1.244975,0.008427,0.551731,0.730758,-0.364523,-0.313520,-0.507125,-1.076953,0.619693,-0.561675,-1.508193,-1.283645,0.006800,-0.478453,-0.342598,-0.223481,0.425855
4,-0.134999,-2.421965,0.489423,-0.514247,-0.353253,-0.035211,-0.449223,0.431749,-0.144128,0.186409,0.462514,-1.115793,-1.283645,0.212159,2.090069,2.918875,-0.223481,-2.348216

In [76]:
from sklearn.linear_model import LinearRegression
linear_pca = LinearRegression()
X = train.iloc[:, :-1]
y = train["time_pickup_to_delivered	"]
linear_pca.fit(X=X, y=train_pca["time_pickup_to_delivered"])

KeyError: 'time_pickup_to_delivered\t'

#### Step 1.

In [ ]:
Modeling objective would be to predict Delivery Time based on other variables. Regression Problem.