In [ ]:
import pandas as pd
import seaborn as sns
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")

Check data read the column names didnt save changed

In [2]:
train = pd.read_pickle("data/sendy3.pkl")
train.head()

,order_no,user_id,vehicle_type,platform_type,customer_type,placed_day,placed_wkday,placed_time,confirmed_day,confirmed_wkday,...,pickup_lat,pickup_long,delivered_lat,delivered_long,Rider Id,time_pickup_to_arrival,No_Of_Orders,Age,Average_Rating,No_of_Ratings
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,1900-01-01 09:35:46,9,5,...,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745,1637,1309,13.8,549
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,1900-01-01 11:16:16,12,5,...,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993,396,339,13.6,69
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,1900-01-01 12:39:25,30,2,...,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455,1023,242,12.5,114
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,1900-01-01 09:25:34,15,5,...,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341,886,283,14.5,113
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,1900-01-01 09:55:18,13,1,...,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214,2311,872,14.1,533

In [4]:
train.columns

Index(['order_no', 'user_id', 'vehicle_type', 'platform_type', 'customer_type',
       'placed_day', 'placed_wkday', 'placed_time', 'confirmed_day',
       'confirmed_wkday', 'confirmed_time', 'arrive_pickup_day',
       'arrive_pickup_wkday', 'arrive_pickup_time', 'pickup_day',
       'pickup_wkday', 'pickup_time', 'delivered_day', 'delivered_wkday',
       'delivered_time', 'distance_km', 'temp', 'pickup_lat', 'pickup_long',
       'delivered_lat', 'delivered_long', 'Rider Id', 'time_pickup_to_arrival',
       'No_Of_Orders', 'Age', 'Average_Rating', 'No_of_Ratings'],
      dtype='object')

In [5]:
train.shape

(21201, 32)

In [7]:
train.dtypes

order_no                          object
user_id                           object
vehicle_type                      object
platform_type                     object
customer_type                     object
placed_day                        object
placed_wkday                      object
placed_time               datetime64[ns]
confirmed_day                     object
confirmed_wkday                   object
confirmed_time            datetime64[ns]
arrive_pickup_day                 object
arrive_pickup_wkday               object
arrive_pickup_time        datetime64[ns]
pickup_day                        object
pickup_wkday                      object
pickup_time               datetime64[ns]
delivered_day                     object
delivered_wkday                   object
delivered_time            datetime64[ns]
distance_km                        int64
temp                             float64
pickup_lat                       float64
pickup_long                      float64
delivered_lat                    float64
delivered_long                   float64
Rider Id                          object
time_pickup_to_arrival             int64
No_Of_Orders                       int64
Age                                int64
Average_Rating                   float64
No_of_Ratings                      int64
dtype: object